@page
@model TennisBookings.Web.Pages.EnquirySentModel
@{
    ViewData["Subject"] = "Enquiry Sent";
}

<h1>Enquiry Sent</h1>

<div class="row">
    <div class="col-12">
        <p>Thanks for your enquiry. We'll get back to soon!</p>
    </div>
</div>
